<head>
      <meta charset="utf-8">
      <meta name=viewport content="width=device-width, initial-scale=1">
      <title>CONTEXTOS LOGIN</title>
      <link type="text/css" rel="stylesheet" href="assets/css/normalize.css" media="screen" />
      <link type="text/css" rel="stylesheet" href="assets/css/animate.css" media="screen" />
      <link type="text/css" rel="stylesheet" href="assets/css/login.css" media="screen" />

      <link rel="Contextos Icon" href="assets/img/logo.png">
</head>
<body>
      <div id="divLogin" class="container">
            <p id="title">Contextos</p>
            <p id="subtitle">conducta.org</p>
            <form method="post" action="assets/php/validation.php" class="login">
                  <p>
                        <label for="login">Usuario:</label>
                        <input type="text" name="login" id="login" autofocus>
                  </p>
                  <p>
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password">
                  </p>
                  <p class="login-submit">
                        <button type="submit" id="login-button">Login</button>
                  </p>
            </form>
      </div>
      <div id="divLoginBefore" class="container"></div>
      <div id="divLoginAfter" class="container"></div>

      <script type="text/javascript">
            document.getElementById('login-button').addEventListener("mouseover", function() {
                  document.getElementById('login-button').className = "tada animated";
            }, false);
            document.getElementById('login-button').addEventListener("mouseleave", function() {
                  document.getElementById('login-button').className = "";
            }, false);

      </script>
</body>
</html>
