@font-face {
      font-family: "Oxygen";
      src: url(../font/Oxygen.ttf)
}

/* FORMULARIO */
#formulario, #formularioEdicion {
      width: 80%;
      margin: 0 auto
}

input[type="text"], #selCategorias, #selCategoriasEdicion {
      margin: 3px;
      outline: none;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      font-family: "Oxygen", sans-serif;
      border: dotted 1px rgba(0, 0, 0, 0.4);
      padding-left: 3px
}

input[type="text"]:focus {
      border: dotted 1px darkblue
}

#selCategorias, #selCategoriasEdicion {
      width: 273px
}

#formulario br, #formularioEdicion br {
      line-height: 30px
}

label {
      margin: 3px;
      color: darkblue;
      font-weight: bold;
      font-family: "Oxygen", sans-serif;
      clear: left
}

textarea {
      resize: vertical;
      outline: none;
      width: 100%;
      height: 100px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      margin: 5px;
      border: dotted 1px rgba(0, 0, 0, 0.4);
      padding: 5px;
      clear: both
}

/* WIDTH INPUTS TEXT*/
#txtTitulo {
      width: 305px
}
#txtTitulo.txtPreguntas{
      width: 600px;
}
#txtAutor {
      width: 307px
}

#txtFecha {
      width: 180px
}

#txtReferencia {
      width: 263px
}

#txtRutaReferencia {
      width: 220px
}

#txtEditorial {
      width: 283px
}

/* BUTTONS */
#butAdd, #butUpdate,#butCancelUpdate, .divInputFile {
      background: linear-gradient(0deg, rgb(23, 83, 130), rgb(52, 142, 211));
      border: none;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      color: white;
      font-family: "Oxygen", sans-serif;
      font-weight: lighter;
      height: 25px;
      outline: none
}

.divInputFile {
      width: 100px
}

#butAdd, #butUpdate,#butCancelUpdate {
      width: 120px;
      height: auto;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      font-size: 1.5em;
      color: white;
      margin-left: 40%
}

#butAdd:hover, #butUpdate:hover, #butCancelUpdate:hover,.divInputFile:hover {
      background: linear-gradient(0deg, rgb(52, 142, 211), rgb(23, 83, 130));
      -moz-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5)
}

#butAdd:active, #butUpdate:active, #butCancelUpdate:active,.divInputFile:active {
      background-color: rgba(100, 100, 100, 0.2);
      -moz-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.7);
      -webkit-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.7);
      box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.7)
}

#butAdd:active, #butUpdate:acive,#butCancelUpdate:active {
      -webkit-animation-name: tada;
      -webkit-animation-duration: 0.8s;
      /** Aquontrolamos la velocidad de la animaci*/
      -moz-animation-name: tada;
      -moz-animation-duration: 0.8s;
      /** Aquontrolamos la velocidad de la animaci*/
      animation-name: tada
}
#butUpdate,#butCancelUpdate{
      margin:5px!important;
}
#butCancelUpdate{
      opacity:0.7;
}
/* INPUTS FILE */
.divInputFile {
      position: relative;
      float: right;
      overflow: hidden;
      text-align: center;
      padding-left: 5px;
      padding-right: 5px;
      margin-right: 5px;
      width: 100px
}

.upload {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      padding: 50px;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      filter: alpha(opacity=0);
      cursor: pointer
}

/* PREVIEW IMAGE */
#divImgPrevia, #divImgPreviaEdicion {
      position: relative;
      clear: right;
      float: right;
      overflow: hidden;
      margin: 10px
}

.imgPrevia {
      display: block;
      width: auto;
      max-height: 140px;
      padding: 4px;
      line-height: 1.42857143;
      background-color: #fff;
      border: 3px solid #3c81b8;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      border-radius: 15px
}