@font-face {
      font-family: "Oxygen";
      src: url(../font/Oxygen.ttf)
}

@font-face {
      font-family: "Ubuntu";
      src: url(../font/Ubuntu.ttf)
}

root {
      display: block
}

body {
      background: -moz-linear-gradient(90deg, #B9C5F8, #FFF);
      background: -o-linear-gradient(90deg, #B9C5F8, #FFF);
      background: -webkit-linear-gradient(90deg, #B9C5F8, #FFF);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B9C5F8), color-stop(1, #FFF));
      filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#B9C5F8, EndColorStr=#FFF)";
      background: linear-gradient(90deg, #B9C5F8, #FFF);
      font-family: "Oxygen", sans-serif;
      height: 100%;
      margin: 0;
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 0;
      width: 100%
}

html {
      overflow: hidden
}

/*///////////////////// BANNER //////////////////////////////*/
header {
      height: 70px;
      width: 100%;
      overflow: hidden
}

#divBanner {
      background-color: #57779E;
      color: white;
      display: table;
      height: 70px;
      left: 0;
      overflow: hidden;
      position: fixed;
      text-align: center;
      top: 0;
      width: 100%;
      z-index: 100
}

#divBanner img {
      height: 70px;
      width: 100%;
      overflow: hidden
}

#title {
      color: rgb(252, 252, 252);
      font-family: "Ubuntu", sans-serif;
      font-size: 3em;
      font-weight: bold;
      margin: 0 auto;
      position: absolute;
      text-align: center;
      width: 100%;
      z-index: 500;
      letter-spacing: 8px;
      text-shadow: 0 0 2px black, 1px 1px 2px black, -1px -1px 2px black, 0 0 15px white
}

/*//////////////////// CONTENT //////////////////////////////*/
main {
      min-height: 500px;
      margin: 0
}

section {
      width: 80%;
      margin: 0 auto;
      text-align: center
}

#pBienvenida {
      font-size: 1.5em;
      color: darkblue;
      background-color: rgba(255, 255, 255, 0.7);
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      padding: 30px;
      width: 60%;
      top: 150px;
      position: relative;
      border: solid 1px #1F3E66
}

#divIzquierda {
      width: 50%;
      float: left;
      text-align: left
}

#divDerecha {
      width: 50%;
      float: left;
      text-align: left
}

#divContent {
      margin-top: 30px;
      overflow: hidden;
      width: 100%;
      text-align: left
}

.elemento {
      display: none;
      background-color: white;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      -moz-box-shadow: 3px 2px 7px 1px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 3px 2px 7px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 3px 2px 7px 1px rgba(0, 0, 0, 0.1);
      color: black;
      margin: 15px auto;
      padding: 15px;
      width: 100%;
      text-align: left
}

.elemento:after {
      clear: both;
      content: " ";
      display: block;
      height: 0
}

.divTitulo {
      color: darkblue;
      font-size: 1.5em;
      font-weight: bold;
      width: 100%;
      word-break: break-word;
      overflow: hidden;
}

.divTitulo div{
      max-width:70%;
      float:left;
}

.divAutor {
      color: darkblue;
      width: 100%;
      font-size: 0.8em
}

.divResumen {
      cursor: default;
      font-weight: lighter;
      text-indent: 1em;
      width: 100%;
      word-wrap: break-word;
      font-size: 0.8em
}

.divLeer {
      color: darkblue;
      font-style: normal;
      font-weight: lighter;
      width: 100%
}

.leerMas {
      float: right
}

.divImagen {
      float: left;
      margin-left: 2%;
      margin-right: 2%;
      margin-bottom: 2%;
      margin-top: 0
}

.img {
      display: block;
      max-width: 300px;
      height: auto;
      padding: 4px;
      line-height: 1.42857143;
      background-color: #fff;
      border: 3px solid #3c81b8;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      border-radius: 15px
}

.visual {
      width: 200px;
      margin: 20px auto;
      display: none
}

.thumbs {
      float: right;
      height: 35px;
      margin-left: 5px;
      outline: none;
      width: 35px
}

.thumbs:disabled {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
      filter: alpha(opacity=30);
      opacity: 0.3
}

#eliminar:hover, #editar:hover {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      filter: alpha(opacity=80);
      opacity: 0.8
}

#eliminar:disabled:hover, #editar:disabled:hover {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
      filter: alpha(opacity=30);
      opacity: 0.3
}

/*///////////////////////////////////////////////////////////////////////////////////////////////*/
footer {
      background-color: rgb(155, 150, 150);
      bottom: 0;
      height: 80px;
      position: relative;
      width: 100%;
      clear: left;
      color: white;
      display: none;
      font-family: "Oxygen", sans-serif;
      text-shadow: 0 0 1px black, 0 0 1px black
}

footer a {
      color: white;
      font-weight: bolder;
      text-shadow: 0 0 1px black
}

footer img {
      margin-right: 50px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      padding: 2px;
      border: 1px solid black;
      float: right
}

#footer {
      font-style: italic;
      padding: 20px;
      width: 100%;
      margin: 0
}

li {
      cursor: pointer;
      width: 13% !important
}

a {
      cursor: pointer;
      text-decoration: none
}

input {
      outline: none
}

.divTitulo img {
      cursor: pointer;
      outline: none
}

/*///////////////////////////////////////////////////////////////////////////////////////////////*/
.titlePregunta {
      color: darkblue;
      font-size: 1em;
      font-weight: bold;
      margin: 0
}

.pregunta {
      font-size: 0.8em
}

.arrows {
      cursor: pointer;
      float: left;
      height: 23px;
      margin-right: 5px;
      outline: none;
      width: 23px
}

.divRespuesta {
      float: left
}

/*///////////////////////////////////////////////////////////////////////////////////////////////*/
#mas {
      width: 100%;
      border: none;
      display: none;
      text-align: center;
      font-family: "Oxygen", sans-serif;
      clear:both;
}

#mas:hover {
      -moz-transition: all linear 0.1s;
      -o-transition: all linear 0.1s;
      -webkit-transition: all linear 0.1s;
      transition: all linear 0.1s;
      background-color: white;
      font-weight: bolder
}

#loading {
      margin-top: 100px
}

/*///////////////////////////////////////////////////////////////////////////////////////////////*/
.humorVisual {
      width: 32%;
      float: left;
      margin: 5px
}

.main > li:last-child {
      text-align:center!important;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////*/
#divImgPrevia,#divImgPreviaEdicion{
      cursor: url(../cursor/cursor-delete.cur),pointer;
}