input[type=checkbox] {
      visibility: hidden
}

.check {
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      width: 100%
}

.check label {
      background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
      background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
      background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
      background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      -moz-box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      height: 20px;
      position: absolute;
      top: 0;
      width: 20px
}

.check label:after {
      background: transparent;
      border: 3px solid #333;
      border-top: none;
      border-right: none;
      content: "";
      filter: alpha(opacity=0);
      height: 5px;
      left: 4px;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      position: absolute;
      top: 4px;
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      width: 9px
}

.check label:hover::after {
      filter: alpha(opacity=30);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
      filter: alpha(opacity=50);
      opacity: 0.5
}

.check input[type=checkbox]:checked ~ label:after {
      filter: alpha(opacity=100);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      opacity: 1
}

.check span {
      margin-left: 30px
}