@font-face {
      font-family: "PoiretOne";
      src: url(../font/PoiretOne.ttf)
}

/*///////////////////// DIVS OCULTOS //////////////////////////////*/
#viewer{
      background-color: rgba(255, 255, 255, 1)!important;   
}
#divOscuro {
      background-color: rgba(255, 255, 255, 0.9);
      display: none;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      text-align: center;
      width: 100%;
      z-index: 1000
}

#divComentario {
      background: -moz-linear-gradient(90deg, #B9C5F8, #FFF);
      background: -o-linear-gradient(90deg, #B9C5F8, #FFF);
      background: -webkit-linear-gradient(90deg, #B9C5F8, #FFF);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B9C5F8), color-stop(1, #FFF));
      filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#B9C5F8, EndColorStr=#FFF)";
      background: linear-gradient(90deg, #B9C5F8, #FFF);
      background-color: white;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      -moz-box-shadow: inset 0 0 15px 1px rgba(0, 0, 0, 1);
      -webkit-box-shadow: inset 0 0 15px 1px rgba(0, 0, 0, 1);
      box-shadow: inset 0 0 15px 1px rgba(0, 0, 0, 1);
      display: none;
      height: 80%;
      left: 0;
      margin: 80px auto;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 60%;
      z-index: 1001;
      min-width:480px;
      min-height:450px;
}

#divComentario > h1 {
      background-color: rgb(23, 83, 130);
      background-image: url(../img/background-banner.png);
      -moz-border-radius: 15px 15px 0 0;
      -webkit-border-radius: 15px 15px 0 0;
      border-radius: 15px 15px 0 0;
      -moz-box-shadow: inset 0 5px 15px 1px rgba(0, 0, 0, 0.6);
      -webkit-box-shadow: inset 0 5px 15px 1px rgba(0, 0, 0, 0.6);
      box-shadow: inset 0 5px 15px 1px rgba(0, 0, 0, 0.6);
      color: white;
      display: table;
      font-size: 2em;
      letter-spacing: 3px;
      height: 50px;
      margin: 0;
      text-shadow: 1px 1px black;
      width: 100%;
      font-family: "PoiretOne", sans-serif
}

#divComentario > h1 > span {
      display: table-cell;
      vertical-align: middle
}

#divFormComentario {
      margin: 20px auto;
      width: 800px;
      height: 50px
}

#inputsComentario {
      text-align: right;
      width: 65%;
      float: left;
}

#inputsComentario label {
      font-family: "Oxygen", sans-serif
}

#inputsComentario > input {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      outline: none;
      width: 200px;
      height: 25px;
      margin-bottom: 5px
}

#warningComentario {
      text-align: left;
      width: 180px;
      float: left
}

#warningComentario > p {
      font-family: "Oxygen", sans-serif;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      margin-left: 20px;
      margin-top: 0;
      margin-bottom: 5px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      padding-left: 10px;
      height: 22px
}

#divComentario input::-webkit-input-placeholder {
      font-family: "Oxygen", sans-serif
}

#divComentario input::-moz-input-placeholder {
      font-family: "Oxygen", sans-serif
}

#divComentario > textarea {
      border-style: dashed;
      border-color: darkblue;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      font-family: "Oxygen", sans-serif;
      height: 50%;
      margin: 0 auto;
      outline: none;
      padding: 10px;
      resize: none;
      width: 80%
}

#divComentario > input[type=button] {
      background: linear-gradient(0deg, rgb(23, 83, 130), rgb(52, 142, 211));
      border: none;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      color: white;
      font-family: "Oxygen", sans-serif;
      font-weight: lighter;
      height: 25px;
      margin: 10px;
      outline: none;
      width: 100px
}

#divComentario > input[type=button]:disabled {
      background: none;
      background-color: rgba(187, 174, 174, 1);
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none
}

#divComentario  input[type=button]:enabled:hover {
      background: linear-gradient(0deg, rgb(52, 142, 211), rgb(23, 83, 130));
      -moz-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5)
}

#divComentario > input[type=button]:enabled:active {
      background-color: rgba(100, 100, 100, 0.2);
      -moz-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.7);
      -webkit-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.7);
      box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.7)
}

#divPdf {
      display: none;
      height: 90%;
      left: 0;
      margin: 20px auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 90%;
      z-index: 1002
}

#close {
      height: 45px;
      position: absolute;
      right: 0;
      top: 0;
      width: 45px
}

object {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      height: 100%;
      width: 100%
}

/*/////////////////////////////////////////DIV ALERT //////////////////////////////////////////////////////////////*/
#divModal {
      background: -moz-linear-gradient(90deg, #B9C5F8, #FFF);
      background: -o-linear-gradient(90deg, #B9C5F8, #FFF);
      background: -webkit-linear-gradient(90deg, #B9C5F8, #FFF);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B9C5F8), color-stop(1, #FFF));
      filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#B9C5F8, EndColorStr=#FFF)";
      background: linear-gradient(90deg, #B9C5F8, #FFF);
      background-color: white;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      -moz-box-shadow: inset 0 0 15px 1px rgba(0, 0, 0, 1);
      -webkit-box-shadow: inset 0 0 15px 1px rgba(0, 0, 0, 1);
      box-shadow: inset 0 0 15px 1px rgba(0, 0, 0, 1);
      display: none;
      height: 20%;
      width: 40%;
      left: 0;
      margin: 200px auto;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      z-index: 1001
}

#divModal > h1 {
      background-color: rgb(23, 83, 130);
      background-image: url(../img/background-banner.png);
      -moz-border-radius: 15px 15px 0 0;
      -webkit-border-radius: 15px 15px 0 0;
      border-radius: 15px 15px 0 0;
      -moz-box-shadow: inset 0 5px 15px 1px rgba(0, 0, 0, 0.6);
      -webkit-box-shadow: inset 0 5px 15px 1px rgba(0, 0, 0, 0.6);
      box-shadow: inset 0 5px 15px 1px rgba(0, 0, 0, 0.6);
      color: white;
      display: table;
      font-size: 1.5em;
      letter-spacing: 5px;
      height: 40%;
      margin: 0;
      text-shadow: 1px 1px black;
      width: 100%;
      font-family: "PoiretOne", sans-serif
}

#divModal > h1 > span {
      display: table-cell;
      vertical-align: middle
}

#divModal > input[type=button] {
      background: linear-gradient(0deg, rgb(23, 83, 130), rgb(52, 142, 211));
      border: none;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      color: white;
      font-family: "Oxygen", sans-serif;
      font-weight: lighter;
      height: 20%;
      margin: 18px;
      outline: none;
      width: 20%
}

#divModal > input[type=button]:hover {
      background: linear-gradient(0deg, rgb(52, 142, 211), rgb(23, 83, 130));
      -moz-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5)
}

#divModal > input[type=button]:active {
      background-color: rgba(100, 100, 100, 0.2);
      -moz-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.7);
      -webkit-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.7);
      box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.7)
}