@font-face {
      font-family: "Oxygen";
      src: url(../font/Oxygen.ttf)
}

@font-face {
      font-family: "Ubuntu";
      src: url(../font/Ubuntu.ttf)
}

root {
      display: block
}

body {
      background: -moz-linear-gradient(90deg, #B9C5F8, #FFF);
      background: -o-linear-gradient(90deg, #B9C5F8, #FFF);
      background: -webkit-linear-gradient(90deg, #B9C5F8, #FFF);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B9C5F8), color-stop(1, #FFF));
      filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#B9C5F8, EndColorStr=#FFF)";
      background: linear-gradient(90deg, #B9C5F8, #FFF);
      font-family: "Oxygen", sans-serif;
      height: 100%;
      margin: 0;
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 0;
      width: 100%
}

html {
      overflow: hidden
}

/*///////////////////// BANNER //////////////////////////////*/
header {
      background-color: #57779E;
      height: 70px;
      width: 100%;
      overflow: hidden
}

#divBanner {
      background-color: #57779E;
      color: white;
      display: table;
      height: 70px;
      left: 0;
      overflow: hidden;
      position: fixed;
      text-align: center;
      top: 0;
      width: 100%;
      z-index: 100
}

#divBanner img {
      height: 70px;
      width: 100%;
      overflow: hidden;
      display: block !important;
      position: relative !important;
      width: 100% !important
}

#logo {
      color: rgb(252, 252, 252);
      font-family: "Ubuntu", sans-serif;
      margin: 0 auto;
      position: absolute;
      z-index: 501;
      width: 100%;
      text-align: center
}

#imgLogo {
      display: none;
      position: absolute;
      width: 55px;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
      filter: alpha(opacity=90);
      opacity: 0.9;
      height: auto;
      margin-left: -180px;
      margin-top: 10px;
      margin-bottom: 10px;
      -moz-box-shadow: inset -10px 80px 1px rgba(39, 61, 88, 0.44);
      -webkit-box-shadow: inset -10px 80px 1px rgba(39, 61, 88, 0.44);
      box-shadow: inset -10px 80px 1px rgba(39, 61, 88, 0.44);
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px
}

#title {
      color: rgb(252, 252, 252);
      font-family: "Ubuntu", sans-serif;
      font-size: 3em;
      font-weight: bold;
      margin: -5px auto;
      position: fixed;
      text-align: center;
      width: 100%;
      z-index: 500;
      letter-spacing: 4px;
      text-shadow: 0 0 2px black, 1px 1px 2px black, -1px -1px 2px black, 0 0 15px white
}

#subtitle {
      font-family: "Ubuntu", sans-serif;
      font-size: 1em;
      left: 0;
      margin: 50px auto;
      position: fixed;
      right: 0;
      text-align: center;
      width: 285px;
      height: 7px;
      z-index: 499;
      font-weight: bolder;
      background-color: rgba(255, 255, 255, 0.6);
      -moz-border-radius: 30px;
      -webkit-border-radius: 30px;
      border-radius: 30px;
      padding: 4px;
      line-height: 1px;
      letter-spacing: 13px;
      color: black;
      -moz-box-shadow: 0 0 3px black;
      -webkit-box-shadow: 0 0 3px black;
      box-shadow: 0 0 3px black
}

/*//////////////////// CONTENT //////////////////////////////*/
main {
      min-height: 550px;
      margin: 0
}

section {
      text-align: center;
      width: 10%;
      float: left;
}
#sectionSection{
      width: 80%;
      margin-left: 2%;
}
#sectionAdSense{
      width: 17%;
      float: right!important;
}
#divAdSense{
      margin:15px auto;
}
#divIzquierda {
      width: 50%;
      float: left;
      text-align: left;
      height:0;
      height:auto;
      overflow:hidden;
}

#divDerecha {
      width: 50%;
      float: left;
      text-align: left;
      height:0;
      overflow:hidden;
}

#divContent {
      margin-top: 30px;
      overflow: hidden;
      width: 100%;
      text-align: left
}

.elemento {
      display: none;
      background-color: white;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      -moz-box-shadow: 3px 2px 7px 1px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 3px 2px 7px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 3px 2px 7px 1px rgba(0, 0, 0, 0.1);
      color: black;
      margin: 15px auto;
      padding: 15px;
      width: 95%;
      text-align: left;
      min-width:370px;
}

.elemento:after {
      clear: both;
      content: " ";
      display: block;
      height: 0
}

.elementoIndex {
      display: none;
      background-color: white;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      -moz-box-shadow: 0 0 13px rgba(60, 129, 184, 0.2);
      -webkit-box-shadow: 0 0 13px rgba(60, 129, 184, 0.2);
      box-shadow: 0 0 13px rgba(60, 129, 184, 0.2);
      color: black;
      margin: 15px auto;
      padding: 15px;
      width: 90%;
      line-height: 1.42857143;
      text-align: left
}

.elementoIndex:after {
      clear: both;
      content: " ";
      display: block;
      height: 0
}

.divTitulo {
      color: darkblue;
      font-size: 1.5em;
      font-weight: bold;
      width: 100%;
      word-break: break-word;
      overflow: hidden;
}
.elementoIndex .divTitulo div{
      max-width:70%;
      float:left;
}
.elemento .divTitulo div{
      max-width:85%;
      float:left;
}
.divAutor {
      color: darkblue;
      width: 100%;
      font-size: 0.8em;
      clear: left
}

.divResumen {
      cursor: default;
      font-weight: lighter;
      text-indent: 1em;
      width: 100%;
      word-wrap: break-word;
      font-size: 0.8em;
      clear:right;
}

.divLeer {
      color: darkblue;
      font-style: normal;
      font-weight: lighter;
      width: 100%
}

.leerMas {
      float: right
}

.divImagen {
      float: left;
      margin-left: 2%;
      margin-right: 2%;
      margin-bottom: 2%;
      margin-top: 0
}

.img {
      display: block;
      max-width: 300px;
      height: auto;
      padding: 4px;
      line-height: 1.42857143;
      background-color: #fff;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      border-radius: 15px
}



.descargarPdf {
      background: url(../img/download.png);
      float: right;
      height: 35px;
      margin-left: 5px;
      outline: none;
      width: 35px
}

.thumbs {
      float: right;
      height: 35px;
      margin-left: 5px;
      outline: none;
      width: 35px
}

.descargarPdf, .comentario {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      opacity: 1
}

.descargarPdf:hover, .comentario:hover {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      filter: alpha(opacity=80);
      opacity: 0.8
}

/*///////////////////////////////////////////////////////////////////////////////////////////////*/
footer {
      background-color: rgb(67, 67, 67);
      bottom: 0;
      height: 80px;
      position: relative;
      width: 100%;
      clear: left;
      color: white;
      display: none;
      font-family: "Oxygen", sans-serif;
      text-shadow: 0 0 1px black, 0 0 1px black
}

footer a {
      color:white;
      font-family: italic;
}

footer img {
      margin-right: 50px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      padding: 2px;
      border: 1px solid black;
      float: right
}

#footer {
      color: white;
      font-weight: lighter;
      letter-spacing: 1px;
      padding-top: 20px;
      width: 100%;
      margin: 0
}

#footer div{
      margin-top:0px;
      margin-left:30px;
      margin-right:20px;
}
li {
      cursor: pointer
}

a {
      cursor: pointer;
      text-decoration: none
}

input {
      cursor: pointer;
      outline: none
}

.divTitulo img {
      cursor: pointer;
      outline: none
}

/*///////////////////////////////////////////////////////////////////////////////////////////////*/
.titlePregunta {
      color: darkblue;
      font-size: 1em;
      font-weight: bold;
      margin: 0
}

.pregunta {
      font-size: 0.8em
}

.arrows {
      cursor: pointer;
      float: left;
      height: 23px;
      margin-right: 15px;
      outline: none;
      width: 23px
}

.divRespuesta {
      float: left
}

/*///////////////////////////////////////////////////////////////////////////////////////////////*/
#mas {
      width: 100%;
      border: none;
      display: none;
      text-align: center;
      font-family: "Oxygen", sans-serif;
      clear:both;

}

#mas:hover {
      -moz-transition: all linear 0.1s;
      -o-transition: all linear 0.1s;
      -webkit-transition: all linear 0.1s;
      transition: all linear 0.1s;
      background-color: white;
      font-weight: bolder
}

#loading {
      margin-top: 100px
}

/*///////////////////////////////////////////////////////////////////////////////////////////////*/
.humorVisual {
      width: 50%;
}

.visual {
      width: 90%;
      height:auto;
      padding: 4px;
      background-color: #fff;
      border: 3px solid #3c81b8;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////*/
mark {
      background: #F17D00;
      color: #FFF;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px
}
/*///////////////////////////////////////////////////////////////////////////////////////////////*/
#cc-notification-logo{
      display:none!important;
}
/*/////////////////////////////////////// RESPONSIVE ////////////////////////////////////////////////////////*/

@media (max-width: 1200px) {
      .elementoIndex .divResumen{
            clear:both;
      }
      #inputsComentario {
            width: 55%!important;
      }
}
@media (max-width: 1100px) {
      #inputsComentario {
            width: 50%!important;
      }
      #inputsComentario > input {
            width:120px!important;
      }
}
@media (max-width: 910px) {
      #divIzquierda,#divDerecha{
            clear:left;
            width:100%;
      }
      .elementoIndex .divResumen{
            clear:none;
      }
      #footer{
            font-size:0.8em;
      }
      #inputsComentario {
            width: 40%!important;
      }
}
@media (max-width: 800px) {
      footer{
            height:120px;
      }
      #footer{
            text-align: center;
            padding-top: 0px;
      }
      footer div {
            clear: both;
      }
      footer img {
            margin:15px;
            float: none;
      }
}
@media (max-width: 620px) {
      .elementoIndex .divResumen,.elemento .divResumen{
            clear:both;
      }
      footer{
            height:150px;
      }
      .divProfesor h4 {
            font-size: 0.8em;
      }

}