/* Hides from IE-mac \*/
* html .divArticulos {height: 1%;}
.divArticulos {display: block;}
/* End hide from IE-mac */

#divComentario input::-ms-input-placeholder{
      font-family: 'Oxygen', sans-serif;
}

.check label {
      background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
}

.check label:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      -ms-transform: rotate(-45deg);
}

.check label:hover::after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.check input[type=checkbox]:checked + label:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.main ul {
      /*Each Submenu*/
      background: -ms-linear-gradient(#194883,#3c81b8);
      -ms-transition: all  ease .3s;
}

.main ul li {
      /* Hide menu */
      -ms-transition: all .25s ease .1s;
}

.main li:hover > ul li {
      /* Show menu */
      -ms-transition: all .25s ease .1s;
}