@font-face {
    font-family: "Oxygen";
    src: url(../font/Oxygen.ttf)
    }

@font-face {
    font-family: "Ubuntu";
    src: url(../font/Ubuntu.ttf)
    }

body {
    background-image: url(../img/background-banner.png)
    }

body {
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white
    }

.container {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 30%;
    min-height: 180px;
    min-width: 500px;
    background: #fff;
    -moz-box-shadow: 0 1px 0 #fff inset;
    -webkit-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
    border: 2px solid #c4c6ca;
    padding: 20px 0 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px
    }

#divLogin {
    z-index: 1
    }

#divLoginBefore {
    z-index: 0;
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg)
    }

#divLoginAfter {
    z-index: -1;
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg)
    }

#title {
    color: rgb(252, 252, 252);
    font-family: "Ubuntu", sans-serif;
    font-size: 3em;
    font-weight: bold;
    margin: -5px auto;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 500;
    letter-spacing: 4px;
    text-shadow: 0 0 2px black, 1px 1px 2px black, -1px -1px 2px black, 0 0 15px white
    }

#subtitle {
    font-family: "Ubuntu", sans-serif;
    font-size: 1em;
    left: 0;
    margin: 25px auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 285px;
    height: 7px;
    z-index: 499;
    font-weight: bolder;
    background-color: rgba(251, 162, 0, 0.7);
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    padding: 4px;
    line-height: 1px;
    letter-spacing: 13px;
    color: black;
    -moz-box-shadow: 0 0 3px black;
    -webkit-box-shadow: 0 0 3px black;
    box-shadow: 0 0 3px black
    }

.login {
    position: relative;
    margin: 60px auto;
    width: 400px;
    color: white
    }

.login p {
    margin: 0 0 10px
    }

input, button, label {
    font-family: "Oxygen", sans-serif;
    font-size: 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    color: rgba(0, 0, 0, 1)
    }

input[type=text], input[type=password] {
    font-weight: bold;
    outline: none;
    padding: 0 10px;
    width: 300px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border: 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
    -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06)
    }

input[type=text]:focus, input[type=password]:focus {
    -moz-box-shadow: 0 0 15px rgba(251, 162, 0, 1);
    -webkit-box-shadow: 0 0 15px rgba(251, 162, 0, 1);
    box-shadow: 0 0 15px rgba(251, 162, 0, 1);
    background-color: rgba(0, 0, 0, 0.01);
    outline: 0
    }

label {
    background-color: rgba(251, 162, 0, 0.6);
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    font-family: "Oxygen", sans-serif;
    float: left;
    width: 100px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 1px 1px black;
    text-align: right;
    letter-spacing: 1px
    }

.login-submit {
    position: absolute;
    top: 12px;
    right: -32px;
    width: 60px;
    height: 60px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.1)
    }

#login-button {
    position: relative;
    z-index: 2;
    width: 60px;
    height: 60px;
    text-indent: 120%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
    background: #fff
    }

#login-button:before {
    content: "";
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background-color: orange;
    -moz-box-shadow: inset 0 0 20px 0 black, 0 0 0 5px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: inset 0 0 20px 0 black, 0 0 0 5px rgba(0, 0, 0, 0.16);
    box-shadow: inset 0 0 20px 0 black, 0 0 0 5px rgba(0, 0, 0, 0.16)
    }

#login-button:active:before {
    background-color: orange;
    -moz-box-shadow: inset 0 0 20px 1px black, 0 0 0 5px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: inset 0 0 20px 1px black, 0 0 0 5px rgba(0, 0, 0, 0.16);
    box-shadow: inset 0 0 20px 1px black, 0 0 0 5px rgba(0, 0, 0, 0.16)
    }

#login-button:after {
    /*Flecha*/
    content: "";
    position: absolute;
    top: 15px;
    left: 12px;
    width: 50px;
    height: 50px;
    background: url(../img/arrow.png) 0 0 no-repeat
    }

::-moz-focus-inner {
    border: 0;
    padding: 0
    }

input:focus {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 0.8s;
    /** Aquontrolamos la velocidad de la animaci*/
    }