/*////////////////////// BUTTONS ////////////////////////////*/
#divButtons {
    background: -moz-linear-gradient(#57779E, #1F3E66);
    background: -o-linear-gradient(#57779E, #1F3E66);
    background: -webkit-linear-gradient(#57779E, #1F3E66);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #57779E), color-stop(1, #1F3E66));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#57779E, EndColorStr=#1F3E66)";
    background: linear-gradient(#57779E, #1F3E66);
    background: -moz-linear-gradient(#57779E, #1F3E66);
    background: -o-linear-gradient(#57779E, #1F3E66);
    background: -webkit-linear-gradient(#57779E, #1F3E66);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #57779E), color-stop(1, #1F3E66));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#57779E, EndColorStr=#1F3E66)";
    background: linear-gradient(#57779E, #1F3E66);
    background: -moz-linear-gradient(#57779E, #1F3E66);
    background: -o-linear-gradient(#57779E, #1F3E66);
    background: -webkit-linear-gradient(#57779E, #1F3E66);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #57779E), color-stop(1, #1F3E66));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#57779E, EndColorStr=#1F3E66)";
    background: linear-gradient(#57779E, #1F3E66);
    background: -moz-linear-gradient(#57779E, #1F3E66);
    background: -o-linear-gradient(#57779E, #1F3E66);
    background: -webkit-linear-gradient(#57779E, #1F3E66);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #57779E), color-stop(1, #1F3E66));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#57779E, EndColorStr=#1F3E66)";
    background: linear-gradient(#57779E, #1F3E66);
    -moz-box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.5);
    /*horizontal vertical desenfoque longitud*/
    height: 30px;
    margin: 0 auto;
    position: fixed;
    text-align: center;
    top: 70px;
    width: 100%;
    z-index: 100
    }

/*////////////////////// MAIN ////////////////////////////*/
.main {
    height: 100%;
    list-style-type: none;
    margin: 0 auto;
    min-width: 650px;
    padding: 0;
    text-align: center;
    width: 80%
    }

.main > li {
    /* Each section */
    display: table;
    float: left;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 9%;
    margin-left: 0.5%;
    margin-right: 0.5%
    }

.main > li:last-child {
    text-align: left
    }

.main li a {
    color: white;
    display: table-cell;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap
    }

.main ul {
    /*Each Submenu*/
    background: -moz-linear-gradient(#1F3E66, #57779E);
    background: -o-linear-gradient(#1F3E66, #57779E);
    background: -webkit-linear-gradient(#1F3E66, #57779E);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1F3E66), color-stop(1, #57779E));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#1F3E66, EndColorStr=#57779E)";
    background: linear-gradient(#1F3E66, #57779E);
    background: -moz-linear-gradient(#1F3E66, #57779E);
    background: -o-linear-gradient(#1F3E66, #57779E);
    background: -webkit-linear-gradient(#1F3E66, #57779E);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1F3E66), color-stop(1, #57779E));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#1F3E66, EndColorStr=#57779E)";
    background: linear-gradient(#1F3E66, #57779E);
    background: -moz-linear-gradient(#1F3E66, #57779E);
    background: -o-linear-gradient(#1F3E66, #57779E);
    background: -webkit-linear-gradient(#1F3E66, #57779E);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1F3E66), color-stop(1, #57779E));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#1F3E66, EndColorStr=#57779E)";
    background: linear-gradient(#1F3E66, #57779E);
    background: -moz-linear-gradient(#1F3E66, #57779E);
    background: -o-linear-gradient(#1F3E66, #57779E);
    background: -webkit-linear-gradient(#1F3E66, #57779E);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1F3E66), color-stop(1, #57779E));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#1F3E66, EndColorStr=#57779E)";
    background: linear-gradient(#1F3E66, #57779E);
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -moz-box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.5);
    /*horizontal vertical desenfoque longitud*/
    left: 0;
    margin: 0;
    min-width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    top: 30px;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    -moz-transition: allt ease 0.3s;
    -o-transition: allt ease 0.3s;
    -webkit-transition: allt ease 0.3s;
    transition: allt ease 0.3s
    }

.main li:hover > ul {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1
    }

.main ul li {
    /* Hide menu */
    height: 0;
    margin: 0 20px;
    overflow: hidden;
    padding: 0;
    -moz-transition: all 0.25s ease 0.1s;
    -o-transition: all 0.25s ease 0.1s;
    -webkit-transition: all 0.25s ease 0.1s;
    transition: all 0.25s ease 0.1s
    }

.main li:hover > ul li {
    /* Show menu */
    height: 25px;
    margin: 5px 20px;
    overflow: visible;
    -moz-transition: all 0.25s ease 0.1s;
    -o-transition: all 0.25s ease 0.1s;
    -webkit-transition: all 0.25s ease 0.1s;
    transition: all 0.25s ease 0.1s
    }

.main ul li a {
    border: none;
    font-weight: normal;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left: 8px;
    white-space: nowrap
    }

.main ul li:hover {
    background-color: rgba(255, 255, 255, 0.3);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
    }

.main ul li:active {
    background-color: rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 0 1px 4px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 1px 4px 1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 4px 1px rgba(0, 0, 0, 0.3)
    }

ul {
    padding: 0
    }

#txtBuscar {
    width: 30px;
    height: 90%;
    min-width: 30px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-top: 3px;
    background-image: url(../img/search_white.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    -moz-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
    background-color: #57779E;
    color: #57779E;
    font-weight: bold;
    border: inset 1px white;
    display: table-cell;
    vertical-align: bottom;
    font-family: "Oxygen", sans-serif;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in
    }

#txtBuscar:focus {
    width: 150%;
    background-image: url(../img/search_blue.png);
    background-color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding-left: 2px;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in
    }