/*///////////////////////////////////NOSOTROS > PROFESORES ////////////////////////////////////////////////*/
#divProfesores {
      margin: 40px auto;
      width: 100%;
      font-size: 1.5em;
      border-collapse: separate;
      border-spacing: 3px;
      cursor: pointer
}
.divProfesor h4{
      margin:5px;
}
.fotoProfesor {
      max-width: 100%;
      height: 100px;
      padding: 4px;
      background-color: #fff;
      border: 1px solid white;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      float: left;
      margin: 5px;
      margin-right:30px;
}
.elementoProfesor {
      display: none;
      max-width: 100%;
      height: 100px;
      padding: 4px;
      background-color: #fff;
      border: 1px solid white;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      float: left;
      margin: 5px
}

#divDatos {
      text-align: left;
      font-family: "Oxygen", sans-serif;
      width: 40%;
      padding: 20px;
      height: 80px;
      color: #036;
      font-size: 1.5em;
      background-color: rgba(255, 255, 255, 0.2);
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      left: 0;
      right: 0;
      overflow: auto;
      margin: 10px auto;
      float: none;
      position: relative;
      clear: left
}

/*///////////////////////////////////////////////////////*/
.divEditorial {
      text-align: left;
      font-family: "Oxygen", sans-serif;
      display: none;
      width: 100%;
      padding: 30px;
      color: #036;
      font-size: 1em;
      background-color: rgba(255, 255, 255, 0.8);
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      margin: 50px auto;
      text-indent: 20px
}

/*///////////////////////////////////////////////////////*/
.divJornadas {
      text-align: left;
      font-family: "Oxygen", sans-serif;
      display: none;
      width: 100%;
      height: 50px;
      padding: 20px;
      color: #036;
      font-size: 1em;
      background-color: rgba(255, 255, 255, 0.8);
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      margin: 50px auto;
      text-indent: 20px
}

/*///////////////////////////////////////////////////////*/
.divColaboraciones {
      text-align: left;
      font-family: "Oxygen", sans-serif;
      display: none;
      width: 100%;
      padding: 30px;
      color: #036;
      font-size: 1em;
      background-color: rgba(255, 255, 255, 0.8);
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      margin: 50px auto;
      text-indent: 20px
}

/*///////////////////////////////////////////////////////*/
.divCompras {
      text-align: left;
      font-family: "Oxygen", sans-serif;
      display: none;
      width: 100%;
      padding: 30px;
      color: #036;
      font-size: 1em;
      background-color: rgba(255, 255, 255, 0.8);
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      margin: 50px auto;
      text-indent: 20px
}

/*///////////////////////////////////////////////////////*/
.divAutorizaciones {
      text-align: left;
      font-family: "Oxygen", sans-serif;
      display: none;
      width: 100%;
      padding: 30px;
      color: #036;
      font-size: 1em;
      background-color: rgba(255, 255, 255, 0.8);
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      margin: 20px auto;
      text-indent: 20px
}

.divAutorizaciones p {
      margin: 10px
}

#divCc {
      width: 100%;
      text-align: center
}

#divCc img {
      width: 20%;
      padding: 4px;
      background-color: #fff;
      border: 2px solid #036;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      border-radius: 15px
}

/*///////////////////////////////////////////////////////*/
.divAC {
      text-align: left;
      font-family: "Oxygen", sans-serif;
      display: none;
      width: 100%;
      padding: 30px;
      color: #036;
      font-size: 1em;
      background-color: rgba(255, 255, 255, 0.8);
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      margin: 50px auto;
      text-indent: 20px
}