/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
      position: relative;
      list-style: none;
      overflow: hidden;
      width: 100%;
      padding: 0;
      margin: 0;
}

.rslides li {
      -webkit-backface-visibility: hidden;
      position: absolute;
      display: none;
      width: 100%;
      left: 0;
      top: 0;
}

.rslides li:first-child {
      position: relative;
      display: block;
}

.rslides img {
      height: 60%;
      width: auto;
      border: 0;
      margin:20px auto;
      padding: 4px;
      background-color: #fff;
      border: 3px solid #3c81b8;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
}
#divNav{
      display:none;
}
.prev, .next{
      margin:10px;
}
.prev:hover, .next:hover{
      opacity:0.8;
}